<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Introduction to Pandas in Python

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Use Pandas to access and view data

<h2 id="pandas">Introduction of <code>Pandas</code></h2>

In [1]:
# Dependency needed to install file 

!pip install xlrd

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: xlrd in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.2.0)

In [2]:
# Import required library

import pandas as pd

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.

In [3]:
# Read data from CSV file # I have chosen greenhouse gas emission

csv_path = 'https://www.stats.govt.nz/assets/Uploads/Greenhouse-gas-emissions-by-region-industry-and-household/Greenhouse-gas-emissions-by-region-industry-and-household-year-ended-2018/Download-data/greenhouse-gas-emissions-by-region-industry-and-household-year-ended-2018-csv.csv'
df = pd.read_csv(csv_path)

We can use the method <code>head()</code> to examine the first five rows of a dataframe:

In [4]:
# Print first five rows of the dataframe

df.head()

,region,anzsic_descriptor,gas,units,magnitude,year,data_val
0,Auckland,Agriculture,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2007,811.63
1,Auckland,Agriculture,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2008,777.95
2,Auckland,Agriculture,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2009,684.00
3,Auckland,Agriculture,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2010,706.56
4,Auckland,Agriculture,Carbon dioxide equivalents,Kilotonnes,Carbon dioxide equivalents,2011,764.30

We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame as before:

In [ ]:
# Read data from Excel File and print the first five rows

# xlsx_path = "Excel Link here"
# df = pd.read_excel(xlsx_path)
# df.head()

We can access the column <b>region</b> and assign it a new dataframe <b>x</b>:

In [5]:
# Access to the column Length

x = df[['region']]
x

          region
0       Auckland
1       Auckland
2       Auckland
3       Auckland
4       Auckland
...          ...
3055  West Coast
3056  West Coast
3057  West Coast
3058  West Coast
3059  West Coast

[3060 rows x 1 columns]

<h2 id="data">Viewing Data and Accessing Data</h2>

You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [6]:
# Get the column as a series

x = df['region']
x

0         Auckland
1         Auckland
2         Auckland
3         Auckland
4         Auckland
           ...
3055    West Coast
3056    West Coast
3057    West Coast
3058    West Coast
3059    West Coast
Name: region, Length: 3060, dtype: object

You can also get a column as a dataframe. For example, we can assign the column <b>year</b>:

In [7]:
# Get the column as a dataframe

x = df[['year']]
type(x)

pandas.core.frame.DataFrame

You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [9]:
# Access to multiple columns

y = df[['year','region','gas']]
y

      year      region                         gas
0     2007    Auckland  Carbon dioxide equivalents
1     2008    Auckland  Carbon dioxide equivalents
2     2009    Auckland  Carbon dioxide equivalents
3     2010    Auckland  Carbon dioxide equivalents
4     2011    Auckland  Carbon dioxide equivalents
...    ...         ...                         ...
3055  2018  West Coast  Carbon dioxide equivalents
3056  2018  West Coast              Carbon dioxide
3057  2018  West Coast                     Methane
3058  2018  West Coast               Nitrous oxide
3059  2018  West Coast           Fluorinated gases

[3060 rows x 3 columns]

One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:

In [10]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Auckland'

You can access the 2nd row and the 1st column as follows:

In [11]:
# Access the value on the second row and the first column

df.iloc[1,0]

'Auckland'

You can access the 1st row and the 3rd column as follows:

In [12]:
# Access the value on the first row and the third column

df.iloc[0,2]

'Carbon dioxide equivalents'

In [13]:
# Access the value on the second row and the third column
df.iloc[1,2]

'Carbon dioxide equivalents'

In [14]:
# Access the column using the name

df.loc[1, 'gas']

'Carbon dioxide equivalents'

In [15]:
# Access the column using the name

df.loc[1, 'region']

'Auckland'

In [16]:
# Access the column using the name

df.loc[0, 'year']

2007

In [17]:
# Access the column using the name

df.loc[1, 'year']

2008

In [18]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

     region anzsic_descriptor                         gas
0  Auckland       Agriculture  Carbon dioxide equivalents
1  Auckland       Agriculture  Carbon dioxide equivalents

In [ ]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

<h2 id="quiz">Quiz on DataFrame</h2>

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
q = df[['Rating']]
q
    
```

</details>

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
q = df[['Released', 'Artist']]
q
    
```

</details>

Access the 2nd row and the 3rd column of <code>df</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
df.iloc[1, 2]
    
```

</details>

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [ ]:
new_index=['a','b','c','d','e','f','g','h']

<details><summary>Click here for the solution</summary>

```python
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']
    
```

</details>

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python. However, there is one more thing you need to do. The Data Science community encourages sharing work. The best way to share and showcase your work is to share it on GitHub. By sharing your notebook on GitHub you are not only building your reputation with fellow data scientists, but you can also show it off when applying for a job. Even though this was your first piece of work, it is never too early to start building good habits. So, please read and follow <a href="https://cognitiveclass.ai/blog/data-scientists-stand-out-by-sharing-your-notebooks/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01" target="_blank">this article</a> to learn how to share your work.
<hr>

## Authors:

[Joseph Santarcangelo](https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)

Joseph Santarcangelo has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-08-26  | 2.0  | Lavanya | Moved lab to course repo in GitLab |
| 2020-11-24  | 3.0  | Nayef   |  Added new images  |
|   |   |   |   |

<hr/>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>